<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
		<dsn>http://49b3a0896230423badd96c0ce6f222ec:26d60dafb87b45dd88451dc432bb970d@app.reachrabbit.com:9000/1?options
		</dsn>
		<!-- Optional, provide release version of your application -->
		<release>v3.0.0</release>
		<!-- Optional, provide environment your application is running in -->
		<environment>production</environment>
		<!-- Optional, override the server name (rather than looking it up dynamically) -->
		<serverName>jcob</serverName>
		<!-- Optional, provide tags -->
		<tags>tag1:value1,tag2:value2</tags>
		<!-- Optional, provide tag names to be extracted from MDC when using SLF4J -->
		<extraTags>User,Browser,ProposalId,MediaId</extraTags>
	</appender>
	<root level="warn">
		<appender-ref ref="Sentry" />
	</root>
</configuration>