<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="Sentry" class="com.getsentry.raven.logback.SentryAppender">
		<dsn>https://221d627487f94e779a9e31d7fe267dcc:6ea8defd7d694503b7491f9af6b5ee2e@sentry.io/110982?options
		</dsn>
		<!-- Optional, provide release version of your application -->
		<release>v3.0.3</release>
		<!-- Optional, provide environment your application is running in -->
		<environment>test</environment>
		<!-- Optional, override the server name (rather than looking it up dynamically) -->
		<serverName>edward</serverName>
		<!-- Optional, provide tags -->
		<tags>tag1:value1,tag2:value2</tags>
		<!-- Optional, provide tag names to be extracted from MDC when using SLF4J -->
		<extraTags>User,Browser,ProposalId,MediaId,ErrorCode,Path,Body</extraTags>
	</appender>
	<root level="warn">
		<appender-ref ref="Sentry" />
	</root>
</configuration>